/**
 *	Project: BizWorld
 *	Date: 15-Nov-2014
 *	Developer: Vannkorn
 */
 
@import "variables";
@import "bootstrap";
@import "compass/css3";

::selection {
	background: #995ae3;
	color: #F1F1F1;
}
::-moz-selection {
	background: #995ae3;
	color: #f1f1f1; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: $colorDarkOrange;
}
.container {
	padding: 36px 0 0 0;
	
	&.full-width {
		width: 100%;
		background-color: $colorGrey;
		
		.row {
			width: 1200px;
			margin: auto;
		}
		&.footer {
			background-color: $colorOrange;
		}
	}
	.row {
		margin: 0;
	}
}
a {
	display: block;
	
	&.button {
		width: 200px;
		color: $colorWhite;
		font-size: 1.3em;
		line-height: 1.06em;
		font-weight: 600;
		text-align: center;
		display: block;
		padding: 10px 0 11px 0;
		@include border-radius( 5px );
		@include transitionTime( all, 0.3s, ease );
		
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}
h2 {
	width: 100%;
	color: $colorDarkOrange;
	margin: 0;
	font-size: 2.05em;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 0 20px 15px;
	position: relative;
	
	a {
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 0;
		font-weight: normal;
		font-size: 14px;
		text-transform: none;
		text-decoration: underline;
		color: $colorOrange;
	}
}
.logo {
	background: url(../images/logo.png) no-repeat left top;
	width: 270px;
	height: 96px;
	text-indent: -9999px;
	font-size: 14px;
	position: absolute;
	padding: 0;
}
#mainNav {
	position: relative !important;
	
	.container {
		padding: 0;
	}
}
#navbar-collapse {
	border-color: $colorDarkOrange;
	padding: 0;
	height: 100px;
	
	ul {
		padding: 0;
		margin-bottom: 0;
		text-align: right;
		
		li {
			display: inline-block;
			float: none;
			margin-right: -4px; // Remove weird space from inline-block elements
			
			a {
				color: $colorWhite;
				font-size: 16px;
				line-height: 1em;
				font-weight: normal;
				padding: 42px 15px;
				
				&:focus,
				&:hover,
				&:active{
				
				}
			}
			&:first-child {
				border-top: 0;
				padding: 0 15px;
			}
			&.dropdown {
				ul {
					text-align: left;
					margin: 0;
					background-color: $colorOrange;
					
					li {
						padding: 0 15px;
						width: 100%;
						
						a {
							color: $colorWhite;
							padding: 10px 0;
							
							&:hover {
								background-color: $colorDarkOrange;
							}
						}
						&:hover {
							background-color: $colorDarkOrange;
						}
					}
				}
			}
			&.active {
				a {
				}
			}
		}
	}
}
form.search {
	width: 270px;
	float: right;
	position: relative;
	right: 10px;
	@include transition( width 0.6s ease-in );
	
	.form-group {
		margin-bottom: 0;
		
		input {
			border: 1px solid $colorOrange;
			color: $colorOrange;
			padding: 5px 10px;
			background: #f6f6f6;
			@include border-radius( 0 );
			
			&::-webkit-input-placeholder {
				color: $colorOrange;
			}
			&::-moz-placeholder {
				color: $colorOrange;
			}
			&::-mos-placeholder {
				color: $colorOrange; 
			}
		}
	}
	button {
		position: absolute;
		right: -25px;
		top: 7px;
		background: transparent url(../images/search-icon.png) no-repeat 0 0;
		width: 19px;
		height: 19px;
		border: 0;
		text-indent: -9999px;
	}
	&.focus {
		width: 504px;
	}
}
ul.language {
	padding-top: 15px;
	margin: 0;
	
	li {
		display: inline-block;
		padding: 0 7px 0 22px;
		
		a {
			display: block;
			font-size: 12px;
			color: $colorOrange;
		}
		&.kh {
			background: url(../images/kh.png) no-repeat 0 2px;
			padding-right: 0;
		}
		&.en {
			background: url(../images/gb.png) no-repeat 0 2px;
		}
	}
}
#myCarousel {
	padding-bottom: 36px;
	
	.carousel-inner {
		width: 760px;
	}
	.list-group {
		position:absolute;
		top:0;
		right:0;
		width: 410px;
		padding-right: 0;
		
		.list-group-item {
			border-radius:0px;
			cursor:pointer;
			height: 101px;
			padding: 15px 15px 0 30px;
			
			h4 {
				margin: 0;
				padding-bottom: 10px;
				font-size: 16px;
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
			}
			
			&.active {
				background-color: #cf9857;	
			}
		}
		.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
			border-color: #cf9857;
		}
	}
	.carousel-control {
		width: 50px;
		height: 50px;
		top: 50%;
		
		&.left {
			background: url(../images/left-arrow.png) no-repeat;
			left: 15px;
		}
		&.right {
			background: url(../images/right-arrow.png) no-repeat;
			right: 15px;
		}
	}
}
.listing {
	padding-bottom: 36px;
	
	h4 {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0 5px 0;
	}
	a.view {
		color: $colorOrange;
		text-decoration: underline;
	}
}
span.rating {
	display: block;
	width: 94px;
	height: 15px;
	background: url(../images/rating.png) no-repeat 0 -153px;
	padding-bottom: 15px;
}
.footer {
	ul {
		li {
			a {
				font-size: 14px;
				color: $colorWhite;
			}
		}
	}
	.text-center p, .text-center a  {
		font-size: 16px;
	}
	.text-center {
		border-top: 1px dotted $colorDarkOrange;
		padding: 36px 0;
	}
}
/**
 *	Sub Page
 */
.post-meta {
	list-style: none;
	padding: 0 0 0 15px;
	
	li {
		float: left;
		padding-right: 15px;
	}
}
.search.subpage {
	margin-bottom: 36px;
}
.body {
	font-size: 14px;
	
	img {
		margin-bottom: 15px;
	}
}
.sidebar {
	.subscribe {
		border: 1px solid $colorOrange;
		padding-bottom: 0 !important;
		margin-bottom: 20px;
		
		h4 {
			text-transform: uppercase;
			background-color: $colorOrange !important;
			text-align: center;
		}
		p {
			padding: 0 15px;
		}
		.form-group {
			margin: 0 0 15px 0;
			
			button {
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
	.box {
		padding-bottom: 20px;
		
		h4 {
			background-color: $colorDarkOrange;
			color: $colorWhite;
			padding: 10px 15px;
			margin: 0 0 15px 0;
		}
		.related-product {
			display: table;
			
			img {
				min-width: 110px;
				display: inline-block;
				float: left;
				margin: 8px 15px 0 0;
				height: auto;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				font-size: 14px;
				padding-left: 10px;
			}
		}
	}
}
.pagination li a {
	color: $colorOrange;
}
@media screen and ( max-width: 768px ) {
	.container {
		padding: 0 15px;
		
		.row {
			margin: 0;
		}
		&.full-width {
			.row {
				width: 100%;
			}
		}
	}
	h2 {
		padding: 15px 0;
		position: static;
		
		a {	
			position: static;
			top: 20px;
		}
	}
	.logo {
		background-size: 135px 48px;
		width: 135px;
		height: 48px;
		font-size: 16px;
		left: 15px;
	}
	#mainNav {
		.container {
			padding: 15px;
			height: 83px;
			
			.navbar-header {
				// Adjust the height to the logo height
				height: 68px;
			}
		}
		#navbar-collapse { height: auto; }
		.navbar-collapse {
			background: $colorOrange;
			padding: 0;
			
			ul {
				width: 100%;
				margin: 0;
				text-align: left;
				
				li {
					display: block;
					width: 100%;
				}
			}
			ul a {
				padding: 15px !important;
			}
			ul ul.dropdown-menu a {
				padding-left: 30px !important;
			}
			ul li.pull-right {
				float: none !important;
			}
			ul li form {
				position: relative;
				margin: 0;
				border: 0;
				height: 54px;
				border-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				
				input {
					font-size: 1em;
					color: $colorWhite;
					position: absolute;
					left: 0;
					background-color: darken( $colorOrange, 10% );
					@include border-radius( 10px );
					border: 1px solid transparent;
					
					&::-webkit-input-placeholder {
						color: $colorWhite;
					}
					&::-moz-placeholder {
						color: $colorWhite;
					}
					&::-ms-input-placeholder {
						color: $colorWhite;
					}
				}
				button {
					position: absolute;
					right: 0;
					text-indent: -9999px;
					background: transparent;
					border: 0;
				}
			}
		}
	}
	#myCarousel {
		padding-top: 15px;
		
		.carousel-inner {
			width: 100%;
			
			img {
				width: 100%;
			}
		}
	}
	.listing {
		padding: 0 0 20px 0;
		border-bottom: 1px dotted #aaa;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
		h4 {
			font-size: 16px;
		}
		p, a {
			font-size: 14px;
		}
	}
	.footer {
		padding: 0;
		
		h2 {
			padding: 15px;
		}
		.col-md-3 {
			padding: 0;
			
			ul {
				padding: 0;
				list-style: none;
				margin-bottom: 0;
				
				li {
					padding: 10px 15px;
					border-top: 1px dotted #aaa;
				}
			}
		}
		.text-center {
			padding-top: 20px;
			border-top: 1px dotted #aaa;
		}
	}
	.mobileOnly {
		display: block;
	}
	.webOnly {
		display: none;
	}
}
@media screen and ( min-width: 769px ) and ( max-width: 1200px ) {
	.mobileOnly {
		display: block;
	}
	.webOnly {
		display: none;
	}
	.container {
		padding: 0 15px;
		width: 100%;
		
		.row {
			margin: 0;
			width: 100%;
		}
	}
	.logo {
		background-size: 135px 48px;
		width: 135px;
		height: 48px;
		font-size: 16px;
		margin: 0;
		left: 30px;
	}
	h2 {
		padding: 15px;
		position: static;
		
		a {	
			position: static;
			display: block;
			font-size: 16px;
			top: 20px;
		}
	}
	.navbar-form { display: none; }
	.container {
		padding: 0 15px;
		
		.row {
			margin: 0;
		}
		&.full-width {
			.row {
				max-width: 100%;
			}
		}
	}
	.listing {
		margin-bottom: 20px;
	}
	.footer {
		h2 {
			padding-left: 0;
		}
		.col-md-3 {
			padding: 0;
			
			ul {
				padding: 0;
				list-style: none;
				margin-bottom: 0;
				
				li {
					padding: 10px 15px;
					border-top: 1px dotted #aaa;
				}
			}
		}
		.text-center {
			padding-top: 20px;
			border-top: 1px dotted #aaa;
		}
	}
}
/**
 *	Large Screen
 */
@media screen and ( min-width: 1200px) {
	.mobileOnly {
		display: none !important;
	}
	.webOnly {
		display: block !important;
	}
}
