/**
 *	Project: BizWorld
 *	Date: 15-Nov-2014
 *	Developer: Vannkorn
 */
 
@import "variables";
@import "bootstrap";
@import "compass/css3";

::selection {
	background: #995ae3;
	color: #F1F1F1;
}
::-moz-selection {
	background: #995ae3;
	color: #f1f1f1; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: $colorDarkOrange;
}
.container {
	padding: 36px 0 0 0;
	
	&.full-width {
		width: 100%;
		background-color: $colorGrey;
		
		.row {
			width: 1200px;
			margin: auto;
		}
		&.footer {
			background-color: $colorOrange;
		}
	}
}
a {
	display: block;
	
	&.button {
		width: 200px;
		color: $colorWhite;
		font-size: 1.3em;
		line-height: 1.06em;
		font-weight: 600;
		text-align: center;
		display: block;
		padding: 10px 0 11px 0;
		@include border-radius( 5px );
		@include transitionTime( all, 0.3s, ease );
		
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}
h2 {
	width: 100%;
	color: $colorDarkOrange;
	margin: 0;
	font-size: 2.05em;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 0 20px 15px;
	position: relative;
	
	a {
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 0;
		font-weight: normal;
		font-size: 14px;
		text-transform: none;
		text-decoration: underline;
		color: $colorOrange;
	}
}
.logo {
	background: url(../images/logo.png) no-repeat left top;
	width: 322px;
	height: 35px;
	text-indent: -9999px;
	position: absolute;
	top: 33px;
	padding: 0;
}
#mainNav {
	position: relative !important;
	
	.container {
		padding: 0;
	}
}
#navbar-collapse {
	border-color: $colorDarkOrange;
	padding: 0;
	height: 100px;
	
	ul {
		padding: 0;
		margin-bottom: 0;
		text-align: right;
		
		li {
			display: inline-block;
			float: none;
			margin-right: -4px; // Remove weird space from inline-block elements
			
			a {
				color: $colorWhite;
				font-size: 0.94em;
				line-height: 1em;
				font-weight: normal;
				padding: 42px 15px;
				
				&:focus,
				&:hover,
				&:active{
				
				}
			}
			&:first-child {
				border-top: 0;
				padding: 0 15px;
			}
			&.dropdown {
				ul {
					text-align: left;
					margin: 0;
					background-color: $colorOrange;
					
					li {
						padding: 0 15px;
						width: 100%;
						
						a {
							color: $colorWhite;
							padding: 10px 0;
							
							&:hover {
								background-color: $colorDarkOrange;
							}
						}
						&:hover {
							background-color: $colorDarkOrange;
						}
					}
				}
			}
			&.active {
				a {
				}
			}
		}
	}
}
form.search {
	width: 270px;
	float: right;
	position: relative;
	right: 10px;
	@include transition( width 0.6s ease-in );
	
	.form-group {
		margin-bottom: 0;
		
		input {
			border: 1px solid $colorOrange;
			color: $colorOrange;
			padding: 5px 10px;
			background: #f6f6f6;
			@include border-radius( 0 );
			
			&::-webkit-input-placeholder {
				color: $colorOrange;
			}
			&::-moz-placeholder {
				color: $colorOrange;
			}
			&::-mos-placeholder {
				color: $colorOrange; 
			}
		}
	}
	button {
		position: absolute;
		right: -25px;
		top: 7px;
		background: transparent url(../images/search-icon.png) no-repeat 0 0;
		width: 19px;
		height: 19px;
		border: 0;
		text-indent: -9999px;
	}
	&.focus {
		width: 504px;
	}
}
ul.language {
	padding-top: 15px;
	margin: 0;
	
	li {
		display: inline-block;
		padding: 0 7px 0 22px;
		
		a {
			display: block;
			font-size: 12px;
			color: $colorOrange;
		}
		&.kh {
			background: url(../images/kh.png) no-repeat 0 2px;
			padding-right: 0;
		}
		&.en {
			background: url(../images/gb.png) no-repeat 0 2px;
		}
	}
}
#myCarousel {
	padding-bottom: 36px;
	
	.carousel-inner {
		width: 760px;
	}
	.list-group {
		position:absolute;
		top:0;
		right:0;
		width: 410px;
		padding-right: 0;
		
		.list-group-item {
			border-radius:0px;
			cursor:pointer;
			height: 101px;
			
			h4 {
				margin: 0;
				padding-bottom: 10px;
				font-size: 16px;
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
			}
			
			&.active {
				background-color: #cf9857;	
			}
		}
		.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
			border-color: #cf9857;
		}
	}
	.carousel-control {
		width: 50px;
		height: 50px;
		top: 50%;
		
		&.left {
			background: url(../images/left-arrow.png) no-repeat;
			left: 15px;
		}
		&.right {
			background: url(../images/right-arrow.png) no-repeat;
			right: 15px;
		}
	}
}
.listing {
	padding-bottom: 36px;
	
	h4 {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0 5px 0;
	}
	a.view {
		color: $colorOrange;
		text-decoration: underline;
	}
}
.footer {
	h2 {
		color: $colorWhite;
	}
	ul {
		li {
			a {
				font-size: 14px;
			}
		}
	}
	.text-center p, .text-center a  {
		color: $colorWhite;
		font-size: 16px;
	}
}

@media screen and ( max-width: 480px) {

}

@media screen and ( max-width: 767px) {
}

@media screen and ( min-width: 768px) and ( max-width: 991px ) {
}

/**
 *	Large Screen
 */
@media screen and ( min-width: 1200px) {
	.mobileOnly {
		display: none !important;
	}
	.webOnly {
		display: block !important;
	}
}
